.mybox{
    background:#999;
    width: 100px;
    height: 50px;
}
        /*https://rgy0409.tistory.com/2951 절대위치 설명 주소*/
.mybox2{
    background:#558;
    width: 100px;
    height: 50px;
    position: relative;
    top:-20px;
    left:40px;
}